<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
  <title> <%=title %></title>
  <style>
    p {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }
    h1 {
      color: #333;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }

    body{
        color: #333;
      font-family: Arial, sans-serif;

    }

    aside{
        text-align: left;
    }
  </style>
</head>
<body>
    <%- include('partials/navbar') %>
  <h1>Bienvenido a Mi Proyecto Node</h1>
  <p>Esta es la página de inicio de mi proyecto Node.js.</p>
 
</body>
<aside>
    
</aside>
</html>
